@using ShoritifierMVC.Log;
@model List<UrlUsageLog>
@{
    ViewData["Title"] = "Url Usage Logs";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Ip Adress</th>
            <th>Short Url</th>
            <th>Time Used</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var UrlUsageLog in Model)
        {
            <tr>
                <td>@UrlUsageLog.IpAdress</td>
                <td>@UrlUsageLog.ShortUrl</td>
                <td>@UrlUsageLog.Time</td>
            </tr>
        }
    </tbody>
</table>
